
.home-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
  margin-top: 36px;
  margin-left: 16px;
  border-radius: 14px;
  padding-top: 10px;
  /* dash cards */
  box-shadow: 0px 4px 20px 0px rgba(215, 215, 215, 0.50);

}

.home-main-container {
  background: #F1F1F1;
  width: 100%;
}



.home-data-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 800px;
}

.heading-content {
  color: #1E141F;
  font-family: Lora;
  font-size: 1.75em;
  font-style: italic;
  font-weight: 600;
  line-height: 140%; /* 50.4px */

  /* 133.333% */
}